/* Header */
header {
  background: var(--primary);
}
header h1 {
  font-size: 2rem;
  letter-spacing: 3px;
  text-transform: uppercase;
}
/* Main */
section h2 {
  color: var(--secondary);
}
section .boxs {
  width: 80%;
  margin: 1rem auto;
}
section .box {
  padding: 1rem;
  min-width: 40%;
  border-radius: 15px;
}
section .box:nth-child(even) {
  background: var(--red);
}
section .box:nth-child(odd) {
  background: var(--yellow);
}
section .box span,
section .box h3 {
  font-weight: bold;
  font-size: 1rem;
  text-transform: capitalize;
}
section .box * {
  margin-bottom: 1rem;
}
/* Footer */
footer {
  background: var(--dark);
}
footer * {
  color: var(--light);
}
footer p > a {
  color: var(--secondary);
  text-decoration: underline;
}
footer span a {
  margin: 0 1rem;
  font-weight: bold;
  color: var(--primary);
}
