/* Header */
header {
  background: var(--primary);
}
header h1 {
  font-size: 2rem;
  letter-spacing: 3px;
  text-transform: uppercase;
}
/* Main */
section h2 {
  color: #08aac7;
}
section .boxs {
  width: 80%;
  margin: 1rem auto;
}
section .box {
  padding: 1rem;
  width: 30%;
  border-radius: 15px;
}
section .box:nth-of-type(6n + 1) {
  background: var(--green);
}
section .box:nth-of-type(6n + 2) {
  background: var(--yellow);
}
section .box:nth-of-type(6n + 3) {
  background: var(--red);
}
section .box span,
section .box h3 {
  font-weight: bold;
  font-size: 1rem;
  text-transform: capitalize;
}
section .box * {
  margin-bottom: 1rem;
}
/* countries */
section .countries {
  width: 90%;
  margin: 1rem auto;
}
section .country {
  padding: 1rem;
  border-radius: 15px;
  margin-bottom: 0.5rem;
}
section .country .grid {
  grid-gap: 0.2rem;
}
section .country .col {
  text-align: center;
  border-radius: 5px;
  padding: 1rem 0.5rem;
}
section .country .col:nth-of-type(6n + 1) h3 {
  color: var(--green);
}
section .country .col:nth-of-type(6n + 2) h3 {
  color: var(--yellow);
}
section .country .col:nth-of-type(6n + 3) h3 {
  color: var(--red);
}
section .country .col:nth-of-type(6n + 1) p {
  background: var(--green);
}
section .country .col:nth-of-type(6n + 2) p {
  background: var(--yellow);
}
section .country .col:nth-of-type(6n + 3) p {
  background: var(--red);
}
section .country .col h3 {
  text-shadow: 0 0 1px var(--dark);
}
section .country .col p {
  padding: 3px 0;
  border-radius: 5px;
}
section .country:nth-child(odd) {
  border: 2px solid #f3f3f3;
}
section .country:nth-child(even) {
  border: 2px solid #7a7a7a;
}
/* Footer */
footer {
  background: var(--dark);
}
footer * {
  color: var(--light);
}
footer p > a {
  color: var(--secondary);
  text-decoration: underline;
}
footer span a {
  margin: 0 1rem;
  font-weight: bold;
  color: var(--primary);
}
