/* Header */
header {
  background: var(--primary);
}
header h1 {
  font-size: 2rem;
  letter-spacing: 3px;
  text-transform: uppercase;
}
/* Main */
section h2 {
  color: #08aac7;
}
section .boxs {
  width: 80%;
  margin: 1rem auto;
}
section .box {
  padding: 1rem;
  width: 30%;
  border-radius: 15px;
}
section .box:nth-of-type(6n + 1) {
  background: var(--green);
}
section .box:nth-of-type(6n + 2) {
  background: var(--yellow);
}
section .box:nth-of-type(6n + 3) {
  background: var(--red);
}

section .box span,
section .box h3 {
  font-weight: bold;
  font-size: 1rem;
  text-transform: capitalize;
}
section .box * {
  margin-bottom: 1rem;
}
/* countries */
section .countries {
  width: 90%;
  margin: 1rem auto;
}
section .country {
  width: 100%;
  padding: 1rem;
  margin-bottom: 0.5rem;
}
section .country tr:first-child td {
  font-weight: bold;
  font-size: 1rem;
}
section .country tr {
  width: 80%;
  margin: 0.5rem auto;
}
section .country td {
  justify-content: space-around;
  width: 33%;
  margin: 0 auto;
}
section .country:nth-child(odd) {
  background: #f3f3f3;
}
section .country:nth-child(even) {
  background: #7a7a7a;
}
/* Footer */
footer {
  background: var(--dark);
}
footer * {
  color: var(--light);
}
footer p > a {
  color: var(--secondary);
  text-decoration: underline;
}
footer span a {
  margin: 0 1rem;
  font-weight: bold;
  color: var(--primary);
}
