:root {
  --primary: #fcb742;
  --secondary: #7bd1b8;
  --green: #7efcbdd2;
  --red: #fc7eaed2;
  --blue: #08aac7;
  --yellow: #fcf486a9;
  --dark: #202020;
  --light: #cacaca;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.8s ease-in-out;
}
html {
  scroll-behavior: smooth;
}
body {
  max-width: 1600px;
  font-family: monospace;
}
/* App */
.App {
  background: var(--light);
}
section,
header,
footer {
  width: 100%;
  height: auto;
  padding: 4rem;
}
h1,
h2,
h3,
p {
  margin-bottom: 1rem;
}
a {
  text-decoration: none;
}
p {
  font-size: 1rem;
}
/* classes */
.grid {
  display: grid;
  grid-gap: 1rem;
}
.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}
.grid-4 {
  grid-template-columns: repeat(4, 1fr);
}
.flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.flex-row {
  flex-direction: row;
  justify-content: space-between;
}
.flex-column {
  flex-direction: column;
  justify-content: space-between;
}
