@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700&display=swap");

:root {
  --primary: #fcb742;
  --secondary: #008a63;
  --green: #7efcbdd2;
  --red: #fc7eaed2;
  --blue: #08aac7;
  --yellow: #fcf486a9;
  --dark: #202020;
  --light: #cacaca;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: monospace;
  color: #fefefe;
}
h2.heading {
  margin-bottom: 2rem;
}
main {
  max-width: 1920px;
  width: 90%;
  padding: 1rem 0 4rem 0;
  margin: 0 auto;
}
.elem-country:nth-child(8n + 0) .avatar-country {
  background: #f44336;
}
.elem-country:nth-child(8n + 1) .avatar-country {
  background: #388e3c;
}
.elem-country:nth-child(8n + 2) .avatar-country {
  background: #a44fbb;
}
.elem-country:nth-child(8n + 3) .avatar-country {
  background: #ffa726;
}
.elem-country:nth-child(8n + 4) .avatar-country {
  background: #795548;
}
.elem-country:nth-child(8n + 5) .avatar-country {
  background: #26c6da;
}
.elem-country:nth-child(8n + 6) .avatar-country {
  background: #f06292;
}
.elem-country:nth-child(8n + 7) .avatar-country {
  background: #546e7a;
}

.unhide {
  display: none;
}
@media screen and (max-width: 600px) {
  span.unhide {
    display: block;
  }
  .unhide-2 {
    display: none;
  }
}
/* Loading Styling */
.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 1rem;
  margin: 4rem auto;
}
.loading h2 {
  margin-bottom: 2rem;
}
.loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid var(--dark);
  width: 70px;
  height: 70px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 3s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Error styling */
#error {
  width: 80%;
  margin: 4rem auto;
  text-align: center;
}
#error h1 {
  font-size: 2rem;
  word-spacing: 15px;
  letter-spacing: 3px;
  margin-bottom: 2rem;
}
.error {
  padding: 2rem;
  font-size: 1.3rem;
  border-radius: 15px;
  background: #e28c9cbf;
}
